@media screen and (min-width: 781px) {

    /* GENERAL */

    .mobilAndTablet-hidden {
        display: flex;
    }

    .laptopAndDesktop-hidden {
        display: none;
    }

    /* PAGES */

    .navigation_container {
        width: 100%;
        display: flex;
    }

    .navigation_main {
        flex-grow: 1;
        transition: width 0.3s ease;
        margin: 0 25px 0 0;
    }

    /* HEADER */

    .navigation_header {
        width: fit-content;
        position: static;
        transform: translate(0);
        border-radius: 10px;
        margin: 10px 25px 0 10px;
    }

    nav {
        flex-direction: column;
        align-items: start;
    }

    nav a:first-child {
        /* image */
        border: none;
        margin: 25px auto 100px auto;
    }

    nav a {
        margin-bottom: 10px;
        border-top: none;
        border-left: 5px solid var(--primary);
    }

    .active {
        border-top: none;
        border-left: 5px solid var(--white);
    }

    .icon-toggle_menu {
        display: block;
        position: absolute;
        left: 50%;
        bottom: 25px;
        transform: translateX(-50%);
        color: var(--white);
    }

    .nav-text-hidden {
        display: none;
    }

    .nav-text-visible {
        display: inline;
        margin-left: 15px;
    }

    /* PAGES */

    .section-body {
        align-items: start;
    }

    /* STATISTICS */
    .chart-btn-div {
        overflow-x: visible;
    }
    .chart-container {
        width: 100%;
        max-width: 700px;
        overflow-x: visible;
    }

    .chart-article {
        margin: 25px;
    }

    .chart-card {
        width: 100%;
        max-width: 700px;
        padding: 20px;
        border-radius: 10px;
    }


}